/***, *::before,*::after{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Relief';
}**/

*::before{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Relief';
}

*::after{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Relief';
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Relief';
}

@font-face {
    font-family: 'Comic Relief';
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/ComicRelief-Regular.ttf);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(236, 241, 242);
    
}

.goingToFullScreen{
    height: 100vh !important; 
    width: 100vw !important;
}

.widthGrow{
    width: 95% !important;
}

.Canvas-Container{
    position: relative;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Canvas-Control{
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 1970px;
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    

}
.hud{
    position: absolute;
    bottom: 0;
    z-index: 10;
    display: flex;
    height: 80px;
    width: 1970px;
    display: none;
}

.hud-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.hud-position{
    width: 20%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mobileBtn{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}


.btn{
    background-image: url(./img/You\ won\,\ you\ lost/Play.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.backToMain{
    background-image: url(./img/You\ won\,\ you\ lost/home.png);
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(255, 218, 6);
}
.canvasBtn{
    height: 80%;
    width: 80px;
    z-index: 100;
}

.canvasBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.fullscreen{
    background-image: url(./img/You\ won\,\ you\ lost/simpleFullScreen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    
}

.sound-control{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url(./img/You\ won\,\ you\ lost/sound_muted.png);
}

.sound-control-audible{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    background-image: url(./img/You\ won\,\ you\ lost/sound_audible.png);
}

canvas{
    height: 780px;
    width: 1970px;
    background-color: black;
    display: block;
}
.d-none{
    display: none !important;
}

.startScreen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
    background-position: center;
    background-repeat: no-repeat;
    
}

.InfoBtnPosition{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    width: 10%;
    height: 40px; 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    gap: 50px;
}

.InfoBtn{
    transition: all .5s ease;
    color: #fff;
    border: 3px solid rgb(255, 168, 0);

    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 5px;
    outline: none;
    border-radius: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.InfoBtn:hover{
    color: #001F3F;
     border: 3px solid white;
    background-color: rgb(255, 168, 0);
    cursor: pointer;
}

.impressumBtn{
    width: 130px;
}

.impressumBtnInGame{
    width: 130px;
    height: 50px;
    color: black !important;
   
}

.Info-Wrapper{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.manualOverlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.manualWrapper{
    height: 200px;
    width: 75%;
    
    border-radius: 5px;
    border: 4px solid white;
    display: flex;

}

.mobile-Controler{
    height: 100%;
    width: 100%;
    background-image: url(./img/5_background/layers/air.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;

}

.controler-head{
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    margin-right: 2%;
}

h3{
    font-weight: bold;
    font-size: 20px;

}

.mobile-description{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    gap: 2%;
}

.movement{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text{
    font-size: 24px;
    font-weight: 600;

}

h1{
    color: rgb(210, 88, 22);
    font-size: 70px;
}
button{
    height: 150px;
    width: 300px;
    font-size: 40px;

}
.gameOverScreen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameOverPosition{
    height: 75%;
    width: 100%;
    background-image: url(./img/You\ won\,\ you\ lost/GameOverA.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.btnWrapper{
    display: flex;
    gap: 50px;
}

.exitBtn{
   
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #0000003b;
    color: white;
    border: 1px solid white;
    background-image: url(./img/Overlay_assets/close.png);
    background-position: center;

}
.exitBtn:hover{
    cursor: pointer;
    background-color: white;
}
.Game-Manual{
    height: 500px;
    width: 1720px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(236, 241, 242);

}

.img-1{
    height: 250px;
    width: 400px;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Item{
    height: 80px;
    width: 350px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Item-img{
    height: 100%;
    width: 80px;
    background-color: rgb(247, 247, 247);
   
}
.coin-img{
    background-image: url(./img/8_coin/coin_1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;


}
.bottle-img{
    background-image: url(./img/6_salsa_bottle/salsa_bottle.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.description{
    font-size: 32px;
    font-weight: 400;
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    
}

.space{
    width: 40px;
    height: 40px;
}

.left{
    background-image: url(./img/You\ won\,\ you\ lost/leftArrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.right{
    background-image: url(./img/You\ won\,\ you\ lost/rightArrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
}

.up{
    background-image: url(./img/You\ won\,\ you\ lost/upArrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;

}

.attack{
    background-image: url(./img/6_salsa_bottle/salsa_bottle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65px;

}

.img-2{
    height: 250px;
    width: 400px;
    background-color: red;
    background-image: url(./img/You\ won\,\ you\ lost/Tastatur.png);
    background-position: center;
    background-size: cover;
}

.img-3{
    height: 250px;
    width: 400px;
    background-color: rgb(247, 247, 247);
    background-image: url(./img/You\ won\,\ you\ lost/TasteD.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.YouWon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: black;
    background-image: url(./img/You\ won\,\ you\ lost/YouWinA.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;    
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 10%;
    padding-bottom: 15px;
}

#rotateDeviceOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.95);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rotateOverlayContent{
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px; 
}

/**Overlay Querformat Logic **/

@media (orientation: portrait) {
    #rotateDeviceOverlay {
        /* Überschreibt das standardmäßige 'display: none' der d-none Klasse */
        display: flex !important; 
    }
    
    .Canvas-Container {
        visibility: hidden;
    }
}

@media (orientation: landscape) {
    #rotateDeviceOverlay {
        display: none !important;
    }
    /* Optional: Zeige das Spiel wieder an, wenn die Warnung nicht sichtbar ist */
    .Canvas-Container {
        visibility: visible;
    }
}

@media (max-width: 1980px){
   
    .startScreen{
        background-size: contain;
    }

    canvas{
        width: 100%;
    }
    .Canvas-Control{
        width: 100%;
        top: 0;
        margin-top: 5px;
        margin-right: 40px;
        gap: 10px;
        
    }
    
    .Game-Manual{
        width: 100%;
    }
    .mobileBtn{
        width: 30px;
        height: 30px;
    }
   
    .left, .right, .up{
        background-size: 20px;
        background-position: center;
    }
    .attack{
        background-position: center;
        background-size: 40px;
    }
}

@media (max-width: 1400px){
    body{
        background-color: black;
    }
    .Canvas-Control{
        height: 40px;
        padding-bottom: 10px;
    }
    .canvasBtn{
        height: 40px;
        width: 40px;
    }
    .sound-control, .sound-control-audible{
        background-size: 30px;
        
    }
    .fullscreen{
       background-size: 40px;
    }

    .Game-Manual{
        display: none;
    }
    
    h1{
        display: none;
    }
    .fullscreen{
        display: none;
    }

    .Canvas-Container{
        width: 100vw;
        height: 100vh;
    }
    canvas{
        width: 100%;
        height: 100%;
    }

    .hud-wrapper{
        width: 100%;
    }
    .hud{
        width: 100%;
        height: 40px;
        display: block;
    }

    .btn{
        height: 80px;
        width: 80px;
        background-size: 70px;
    }
    .backToMain{
        background-size: 50px;
    }
}



@media (max-width: 1260px){
   
    .InfoBtnPosition{
        width: 20%;
        margin-right: 0;
        margin-bottom: 0;
    }
    .YouWon{
        justify-content: space-around;
    }
}



@media (max-width: 700px){
    .Canvas-Control{
        height: 30px;
        padding: 0;
    }
    .canvasBtn{
        height: 30px;
        width: 30px;
    }
    .sound-control{
        background-size: 25px;
    }
    .fullscreen{
       background-size: 25px;
    }
    .mobile-description{
        gap: 2px;
    }
    .YouWon{
        justify-content: space-around;
    }
    
}

@media (max-height: 1050px){
   
    body{
        justify-content: center;
    }
    .startScreen{
        background-size: contain;    
    }
    .Canvas-Container{
        height: 80%;
    }
    .hud-wrapper{
        height: 100%;
    }
    .mobileBtn{
        height: 100%;
        width: 50px;
    }
}

@media (max-height: 780px){

  
    .InfoBtnPosition{
        margin-bottom: 0;
        height: 35px;
        margin-top: 10px;
    }
    .InfoBtn{
        padding: 0;
    }
    .manualBtn{
        display: none;
    }
    .impressumBtn{
        height: 30px;
        font-size: 14px;
    }
   
    
}
@media (max-height: 600px){
    .Canvas-Container{
        height: 100%;
    }
    .InfoBtnPosition{
        margin-bottom: 8px;
    }
    .mobileBtn{
        width: 30px;
        height: 30px;
    }
    
}



