*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.Canvas-Container{
    position: relative;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Canvas-Control{
    position: absolute;
    bottom: 0px;
    height: 80px;
    width: 1970px;
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;

}

.canvasBtn{
    height: 80%;
    width: 80px;
    z-index: 100;
}

.canvasBtn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.fullscreen{
    
    background-image: url(/img/You\ won\,\ you\ lost/FullScreen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    
}

.sound-control{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    background-image: url(/img/You\ won\,\ you\ lost/sound_muted.png);
}

.sound-control-audible{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    background-image: url(/img/You\ won\,\ you\ lost/sound_audible.png);
}

canvas{
    height: 780px;
    width: 1970px;
    background-color: black;
    display: block;
}
.d-none{
    display: none !important;
}

.startScreen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/9_intro_outro_screens/start/startscreen_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.startPosition{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color: rgb(210, 88, 22);
    font-size: 70px;
}
button{
    height: 150px;
    width: 300px;
    font-size: 40px;

}
.gameOverScreen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;    
    flex-direction: column;
    align-items: center;
}
.gameOverPosition{
    height: 75%;
    width: 100%;
    background-image: url(/img/You\ won\,\ you\ lost/GameOverA.png);
    background-position: center;
    background-size: 1100px;
    background-repeat: no-repeat;

}

.Game-Manual{
    height: 500px;
    width: 1720px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(247, 247, 247);

}

.img-1{
    height: 250px;
    width: 400px;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Item{
    height: 80px;
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Item-img{
    height: 100%;
    width: 80px;
    background-color: rgb(247, 247, 247);
   
}
.coin-img{
    background-image: url(/img/8_coin/coin_1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;


}
.bottle-img{
    background-image: url(/img/6_salsa_bottle/salsa_bottle.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
}

.description{
    font-size: 32px;
    font-weight: 400;
    color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    
}

.img-2{
    height: 250px;
    width: 400px;
    background-color: red;
    background-image: url(/img/You\ won\,\ you\ lost/Tastatur.png);
    background-position: center;
    background-size: cover;
}

.img-3{
    height: 250px;
    width: 400px;
    background-color: rgb(247, 247, 247);
    background-image: url(/img/You\ won\,\ you\ lost/TasteD.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    
}

.YouWon{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(img/You\ won\,\ you\ lost/YouWinA.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px;
    display: flex;    
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.winBtn{
    height: 150px;
    width: 300px;
    margin-bottom: 150px;
    margin-right: 150px;
    border-radius: 10px;  
}

@media (max-width: 1980px){
    .Canvas-Container{
        width: 100%;
        height: auto;
    }
    canvas{
        width: 100%;
        height: auto;
    }
    .Canvas-Control{
        width: 100%;
    }
    .Game-Manual{
        width: 100%;
    }
}

@media (max-height: 780px){
    canvas{
        height: 100vh;
    }
    .Canvas-Container{
        height: 100vh
    }
}

