*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Comic Relief';
}

@font-face {
    font-family: 'Comic Relief';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/ComicRelief-Regular.ttf);
}

.impressum{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Overlay_assets/ai-generated-8286299_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.impressumH1{
    display: block ;
    margin-top: 10px;
    margin-bottom: 10px;
}

.siteHeadline{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.exitBtn{
    margin-top: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #0000003b;
    color: white;
    border: 1px solid white;
    background-image: url(../img/Overlay_assets/close.png);
    background-position: center;

}
.exitBtn:hover{
    cursor: pointer;
    background-color: white;
}
h1{
    margin-top: 30px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
    color: black;
}
.impressum-wrapper{
   
    scroll-behavior: smooth;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px; 
    flex-grow: 1;
    overflow-y: auto;   
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    background-color: #0000003b;
    padding: 18px;
    border-radius: 10px;
}
.headline{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;

}
.sub-content{
    color: white;
}

.impContent-wrapper{
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px; 
    flex-grow: 1;
    overflow-y: auto; 
}

.impContent-wrapper::-webkit-scrollbar {
    display: none; 
}

.impressum-Wrapper::-webkit-scrollbar {
    display: none; 
}

@media (max-width: 1529px){
    .wrapper{
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }
}

